.Cart {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.CartList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  justify-items: center;
}